/*! responsive-nav.js 1.0.39 by @viljamis */
.nav-collapse{
		float:right;
		max-width:100%;|
}

.nav-collapse ul {
	float:right;
	padding-left:12%;
	display: block;
	padding-right:7%;
}

.nav-collapse li {
	display: inline-flex;
	color: #FFFFFF;
	font-size: 18px;
	margin-right: 0px;
	letter-spacing: 2px;
	font-weight: bold;
}

.js .nav-collapse {
	clip:rect(0, 0, 0, 0);
  position: fixed;
  display: block;
  overflow: hidden;
    float:left;
	max-height:0px;	
}

.nav-collapse.opened {
	max-height:0px;
}

.nav-toggle {
  -webkit-tap-highlight-color: rgba(0,0,0,1000);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  float:right;  
	max-width:100%; 
	max-height:100%;	
}

@media screen and (min-width : 40.00em ){
	.logo{
		display:none;
	}
  .js .nav-collapse {
    position: relative;
  float:right;
  }
  .js .nav-collapse.closed {
    max-height: none;
  float:right;
  }
  .nav-toggle {
    display: none;
	max-width:100%;
max-height:100%;
  float:right;
  }
}
